Задание 1** Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:

оценка 2 и меньше - низкий рейтинг
оценка 4 и меньше - средний рейтинг
оценка 4.5 и 5 - высокий рейтинг
Результат классификации запишите в столбец class

In [2]:
import pandas as pd

In [2]:
df = pd.read_csv('ratings-Pandas.csv')

In [3]:
df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
def level_rating(row):
    if row.rating <= 2.0:
        return 'низкий рейтинг'
    elif (row.rating > 2.0) and (row.rating <= 4.0):
        return 'средний рейтинг'
    else:
        (row.rating == 4.5) or (row.rating == 5.0)
        return 'высокий рейтинг'

In [5]:
df['class'] = df.apply(level_rating, axis = 1)
df.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

1 2 3 4 5 'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }

Результат классификации запишите в отдельный столбец region.

In [6]:
geo = pd.read_csv('keywords.csv')
geo

                       keyword     shows
0                           вк  64292779
1                одноклассники  63810309
2                        порно  41747114
3                         ютуб  39995567
4                    вконтакте  21014195
...                        ...       ...
99995   эльдорадо старый оскол      3705
99996      frigate для firefox      3630
99997                   укрсиб      3630
99998  погода в ялте на неделю      3688
99999                     ггму      3630

[100000 rows x 2 columns]

In [7]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [15]:
def geo_class(geo_data):
    data = {}
    for key, value in geo_data.items():
            for row in value:   
                if row in data:
                    return data[row] == key
                else:
                    return 'undefined'

In [16]:
geo['region'] = geo.apply(geo_class, axis = 1)
geo

                       keyword     shows     region
0                           вк  64292779  undefined
1                одноклассники  63810309  undefined
2                        порно  41747114  undefined
3                         ютуб  39995567  undefined
4                    вконтакте  21014195  undefined
...                        ...       ...        ...
99995   эльдорадо старый оскол      3705  undefined
99996      frigate для firefox      3630  undefined
99997                   укрсиб      3630  undefined
99998  погода в ялте на неделю      3688  undefined
99999                     ггму      3630  undefined

[100000 rows x 3 columns]

In [17]:
geo['region'].value_counts()

undefined    100000
Name: region, dtype: int64

Ручной способ:

In [11]:
def geo_class_2(row):
    if ('москва' in row['keyword']) or ('тула' in row['keyword']) or ('ярославль' in row['keyword']):
        return 'Центр'
    elif ('петербург' in row['keyword']) or ('псков' in row['keyword']) or ('мурманск' in row['keyword']):
        return 'Северо-Запад'
    elif ('владивосток' in row['keyword']) or ('сахалин' in row['keyword']) or ('хабаровск' in row['keyword']):
        return 'Дальний Восток'
    else:
        return 'undefined'

In [12]:
geo['region'] = geo.apply(geo_class_2, axis = 1)
geo

                       keyword     shows     region
0                           вк  64292779  undefined
1                одноклассники  63810309  undefined
2                        порно  41747114  undefined
3                         ютуб  39995567  undefined
4                    вконтакте  21014195  undefined
...                        ...       ...        ...
99995   эльдорадо старый оскол      3705  undefined
99996      frigate для firefox      3630  undefined
99997                   укрсиб      3630  undefined
99998  погода в ялте на неделю      3688  undefined
99999                     ггму      3630  undefined

[100000 rows x 3 columns]

In [13]:
geo['region'].value_counts()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64

Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [3]:
movies = pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [5]:
svod = ratings.merge(movies)

In [6]:
svod.head()

,userId,movieId,rating,timestamp,title,genres
0,1,296,5.0,1147880044,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
1,3,296,5.0,1439474476,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
2,4,296,4.0,1573938898,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
3,5,296,4.0,830786155,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
4,7,296,4.0,835444730,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller

In [7]:
years = []
for year in range(0, 61):
    year = year + 1950
    years.append(year)
print(years)

[1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010]

In [10]:
def production_year(row):
    for year in years:
        if str(year) in row:
            return year
    return 1900

In [11]:
svod['year'] = svod['title'].apply(production_year)
svod.head()

,userId,movieId,rating,timestamp,title,genres,year
0,1,296,5.0,1147880044,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,1994
1,3,296,5.0,1439474476,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,1994
2,4,296,4.0,1573938898,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,1994
3,5,296,4.0,830786155,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,1994
4,7,296,4.0,835444730,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,1994

In [12]:
svod.sort_values('rating', ascending = False).head(50)

,userId,movieId,rating,timestamp,title,genres,year
0,1,296,5.0,1147880044,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,1994
17261693,80939,1569,5.0,994711586,My Best Friend's Wedding (1997),Comedy|Romance,1997
17261631,80165,1569,5.0,1481243337,My Best Friend's Wedding (1997),Comedy|Romance,1997
4862066,15299,1676,5.0,1081126201,Starship Troopers (1997),Action|Sci-Fi,1997
4862065,15290,1676,5.0,1111614204,Starship Troopers (1997),Action|Sci-Fi,1997
17261650,80372,1569,5.0,963877500,My Best Friend's Wedding (1997),Comedy|Romance,1997
17261663,80591,1569,5.0,963866175,My Best Friend's Wedding (1997),Comedy|Romance,1997
17261676,80788,1569,5.0,938809834,My Best Friend's Wedding (1997),Comedy|Romance,1997
4862047,15146,1676,5.0,974747555,Starship Troopers (1997),Action|Sci-Fi,1997
17261719,81503,1569,5.0,1000183246,My Best Friend's Wedding (1997),Comedy|Romance,1997
17261628,80117,1569,5.0,945132902,My Best Friend's Wedding (1997),Comedy|Romance,1997
17261725,81634,1569,5.0,867496792,My Best Friend's Wedding (1997),Comedy|Romance,1997
17261726,81652,1569,5.0,974048140,My Best Friend's Wedding (1997),Comedy|Romance,1997
4862024,14967,1676,5.0,1010473904,Starship Troopers (1997),Action|Sci-Fi,1997
17261730,81748,1569,5.0,901604829,My Best Friend's Wedding (1997),Comedy|Romance,1997
17261739,81933,1569,5.0,1161352939,My Best Friend's Wedding (1997),Comedy|Romance,1997
17261753,82459,1569,5.0,1558289324,My Best Friend's Wedding (1997),Comedy|Romance,1997
17261785,83246,1569,5.0,901751632,My Best Friend's Wedding (1997),Comedy|Romance,1997
17261630,80142,1569,5.0,1393891321,My Best Friend's Wedding (1997),Comedy|Romance,1997
17261627,80115,1569,5.0,958930294,My Best Friend's Wedding (1997),Comedy|Romance,1997
4862151,16151,1676,5.0,1519501090,Starship Troopers (1997),Action|Sci-Fi,1997
4862123,15806,1676,5.0,1130999702,Starship Troopers (1997),Action|Sci-Fi,1997
17261391,76485,1569,5.0,941814734,My Best Friend's Wedding (1997),Comedy|Romance,1997
17261420,76740,1569,5.0,994972211,My Best Friend's Wedding (1997),Comedy|Romance,1997
4862135,15946,1676,5.0,952917257,Starship Troopers (1997),Action|Sci-Fi,1997
17261428,76913,1569,5.0,1140200327,My Best Friend's Wedding (1997),Comedy|Romance,1997
17261445,77148,1569,5.0,1490236999,My Best Friend's Wedding (1997),Comedy|Romance,1997
17261450,77261,1569,5.0,1484443548,My Best Friend's Wedding (1997),Comedy|Romance,1997
4862126,15834,1676,5.0,1266770322,Starship Troopers (1997),Action|Sci-Fi,1997
17261469,77573,1569,5.0,1009257797,My Best Friend's Wedding (1997),Comedy|Romance,1997
17261621,80014,1569,5.0,968279052,My Best Friend's Wedding (1997),Comedy|Romance,1997
17261470,77616,1569,5.0,975230796,My Best Friend's Wedding (1997),Comedy|Romance,1997
17261481,77835,1569,5.0,949960211,My Best Friend's Wedding (1997),Comedy|Romance,1997
4862097,15661,1676,5.0,1221479912,Starship Troopers (1997),Action|Sci-Fi,1997
17261546,78781,1569,5.0,945033473,My Best Friend's Wedding (1997),Comedy|Romance,1997
17261558,78889,1569,5.0,1185561427,My Best Friend's Wedding (1997),Comedy|Romance,1997
17261594,79539,1569,5.0,1208349574,My Best Friend's Wedding (1997),Comedy|Romance,1997
4862076,15415,1676,5.0,1493816227,Starship Troopers (1997),Action|Sci-Fi,1997
17261787,83287,1569,5.0,900898038,My Best Friend's Wedding (1997),Comedy|Romance,1997
17261795,83496,1569,5.0,901575399,My Best Friend's Wedding (1997),Comedy|Romance,1997
4861988,14643,1676,5.0,1266678760,Starship Troopers (1997),Action|Sci-Fi,1997
17262046,87330,1569,5.0,902588412,My Best Friend's Wedding (1997),Comedy|Romance,1997
17261988,86469,1569,5.0,913319662,My Best Friend's Wedding (1997),Comedy|Romance,1997
4861900,13826,1676,5.0,1232523983,Starship Troopers (1997),Action|Sci-Fi,1997
17262002,86682,1569,5.0,1431286471,My Best Friend's Wedding (1997),Comedy|Romance,1997
4861896,13788,1676,5.0,1447170149,Starship Troopers (1997),Action|Sci-Fi,1997
4861888,13735,1676,5.0,1039896282,Starship Troopers (1997),Action|Sci-Fi,1997
17262021,86847,1569,5.0,867608440,My Best Friend's Wedding (1997),Comedy|Romance,1997
17262042,87272,1569,5.0,1387888055,My Best Friend's Wedding (1997),Comedy|Romance,1997
4861872,13606,1676,5.0,1003502738,Starship Troopers (1997),Action|Sci-Fi,1997